

--- Page 1 ---

From:
To:
Cc:
Subject:

Date:
Attachments:

Authorisation Section

Correspondence from the Australian Electoral Commission - Yes23 Authorisation Requirements (Our Ref:
LEX4002) [SEC=OFFICIAL] [Marque-DOCUMENTS.FID104572]
Friday, 21 July 2023 3:07:29 PM
image001.jpg
image002.jpg
Letter to AEC dated 21 July 2023 - authorisation(4164723.1) .pdf

CAUTION: This email originated from outside of the Australian Federal Government. Do
not click links or open attachments unless you recognise the sender and know the content
is safe.

 and 

Dear 
Thank you for your email. Please see attached letter of today’s date.
Kind regards

Lawyer
MARQUE Lawyers Pty Ltd

P: 
Gadigal Country | Level 4, 343 George Street, Sydney NSW 2000

 / LinkedIn / Twitter / Instagram

Official lawyers for TEDxSydney

We do not disclaim anything about this email. We're quite proud of it, really.

; Authorisation Section

From: Authorisation Section <authorisationsection@aec.gov.au> 
Sent: Thursday, July 20, 2023 5:09 PM
To: 
Cc: 
<authorisationsection@aec.gov.au>
Subject: Correspondence from the Australian Electoral Commission - Yes23 Authorisation
Requirements (Our Ref: LEX4002) [SEC=OFFICIAL]
Attn: Australians for Indigenous Constitutional Recognition Ltd
Our Ref: LEX4002
Dear recipient,
Please find attached correspondence from the Australian Electoral Commission.
If you have any queries, please email authorisationsection@aec.gov.au.
Kind regards

Electoral Authorisation Team
Australian Electoral Commission
T: 13 23 26

s 47Fs 47Fs 47Fs 47Fs 47Fs 47Fs 47Fs 47Fs 47Fs 47F