

--- Page 1 ---

From:
To:
Subject:

Date:
Attachments:

Authorisation Section; 
RE: Correspondence from the Australian Electoral Commission - Yes23 Authorisation Requirements (Our Ref:
LEX4002) [SEC=OFFICIAL] [Marque-DOCUMENTS.FID104572]
Monday, 24 July 2023 3:45:44 PM
image003.png
image004.jpg
image001.png
image005.png
image007.jpg

CAUTION: This email originated from outside of the Australian Federal Government. Do not
click links or open attachments unless you recognise the sender and know the content is safe.

Dear 
Thank you for your prompt response. In the letter it says that “Section 12(2)(d)(ii) states a communication
may be authorised on a webpage that can be accessed by a URL that is included, either in whole or
as a hyperlink, at the end of the communication. In our view, it is not sufficiently clear that the
‘Yes23.com.au’ is a URL.”
We would appreciate if the Commission could confirm whether, in its view, www.Yes23.com.au would be
sufficiently clear to be a URL for the purposes of section 12(2)(d)(ii). We note that the Yes23 webpage does
not display ‘www’ as part of the URL (see below screenshot), however the webpage can still be accessed by
entering the url ‘www.Yes23.com.au’.
If it would help to discuss please do not hesitate to contact me.

Kind regards

Partner
MARQUE Lawyers Pty Ltd

P: 
Level 4, 343 George Street, Sydney NSW 2000

 / M: 

 / LinkedIn / Twitter / Instagram

s 47Fs 47Fs 47Fs 47Fs 47Fs 47Fs 47F


--- Page 2 ---

We do not disclaim anything about this email. We're quite proud of it, really.

From: Authorisation Section <authorisationsection@aec.gov.au> 
Sent: Monday, 24 July 2023 2:12 PM
To: 
Cc: 
<authorisationsection@aec.gov.au>
Subject: RE: Correspondence from the Australian Electoral Commission - Yes23 Authorisation
Requirements (Our Ref: LEX4002) [Marque-DOCUMENTS.FID104572] [SEC=OFFICIAL]
Dear 
Please find attached correspondence from the Australian Electoral Commission.
If you have any queries, please email authorisationsection@aec.gov.au.
Kind Regards,

; Authorisation Section

,

Electoral Authorisation Team
Australian Electoral Commission
T: 13 23 26

From: 
Sent: Friday, July 21, 2023 3:07 PM
To: Authorisation Section <authorisationsection@aec.gov.au>
Cc: 
Subject: Correspondence from the Australian Electoral Commission - Yes23 Authorisation Requirements
(Our Ref: LEX4002) [SEC=OFFICIAL] [Marque-DOCUMENTS.FID104572]
CAUTION: This email originated from outside of the Australian Federal Government. Do not click links or
open attachments unless you recognise the sender and know the content is safe.
Dear 
Thank you for your email. Please see attached letter of today’s date.
Kind regards

 and 

Lawyer
MARQUE Lawyers Pty Ltd

P: 
Gadigal Country | Level 4, 343 George Street, Sydney NSW 2000

 / LinkedIn / Twitter / Instagram

Official lawyers for TEDxSydney

We do not disclaim anything about this email. We're quite proud of it, really.

; Authorisation Section

From: Authorisation Section <authorisationsection@aec.gov.au> 
Sent: Thursday, July 20, 2023 5:09 PM
To: 
Cc: 
<authorisationsection@aec.gov.au>
Subject: Correspondence from the Australian Electoral Commission - Yes23 Authorisation Requirements
(Our Ref: LEX4002) [SEC=OFFICIAL]
Attn: Australians for Indigenous Constitutional Recognition Ltd
Our Ref: LEX4002
Dear recipient,
Please find attached correspondence from the Australian Electoral Commission.
If you have any queries, please email authorisationsection@aec.gov.au.
Kind regards

Electoral Authorisation Team
Australian Electoral Commission
T: 13 23 26

s 47Fs 47Fs 47Fs 47Fs 47Fs 47Fs 47Fs 47Fs 47Fs 47Fs 47Fs 47Fs 47Fs 47F


--- Page 3 ---

DISCLAIMER:

If you have received this transmission in error please notify us immediately by return email and
delete all copies. If this email or any attachments have been sent to you in error, that error does
not constitute waiver of any confidentiality, privilege or copyright in respect of information in the
email or attachments.