

--- Page 1 ---

From:
To:
Cc:
Subject:

Date:
Attachments:

Authorisation Section

; Authorisation Section

Correspondence from the Australian Electoral Commission - Yes23 Authorisation Requirements (Our Ref:
LEX4002) [SEC=OFFICIAL]
Thursday, 20 July 2023 5:09:27 PM
LEX4002 - Yes 23.pdf
Referendum flowchart.pdf

Attn: Australians for Indigenous Constitutional Recognition Ltd
Our Ref: LEX4002
Dear recipient,
Please find attached correspondence from the Australian Electoral Commission.
If you have any queries, please email authorisationsection@aec.gov.au.
Kind regards

Electoral Authorisation Team
Australian Electoral Commission
T: 13 23 26

s 47Fs 47Fs 47F